.body {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 18px;
}

header,footer {
    background-color: #FCA311;
}

.site-title {
    color: aliceblue;
}

#my-image {
    box-shadow: 0 0 2px 1px #000;
}

.bullet {
    list-style-type: square;
}

ul li :nth-child(odd) {
    background-color: #FCA311;
}