.body {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 18px;
}

header,footer {
    background-color: #FCA311;
}

.site-title {
    color: aliceblue;
}

#my-image {
    box-shadow: 0 0 2px 1px #000;
}

.bullet {
    list-style-type: square;
}

ul.bullet li:nth-child(odd) {
    background-color: #FCA311;
}

.links {
    list-style: none;
}

.index-link {
    list-style-type: none;
    text-decoration: none;
    background-color: #FCA311;
    
    
}

.notes-link {
    list-style-type: none;
    text-decoration: none;
    background-color: #FCA311;
}

a:hover {
    background-color: #13213c;
    color: antiquewhite;
}

a:focus {
    background-color: #13213c;
    color: antiquewhite;
}