html, body {
    height: 100%;
    margin: 0;
    padding: 0;
}

.content {
min-height: 100vh;
}

body{
    background-color: #AAD4CF;
    margin-left: 180px;
    margin-right: 180px;
    
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    position: relative;
}

.fullsize{
    background-color: #D4E9E7;
    height: 2000px;
    width: 926px;
    
}

.overlap {
    position: absolute;
    top:0 ;
    left: 0;
    z-index: 2;
}


header{
    position: relative;
    height: 300px;
}

.headeroverlay {
    position:absolute;
    top: 64%;
    left: 48%;
    transform: translate(-50%, -50%);
    text-align: center;
    color: white;
    z-index: 1;
}


.sitetitle {
    font-size: 55px;
    transform: translate(20px, 620px);
}

.Life {
    transform: translate(300px, 270px);
    font-size: 36px;
}

.headstarfish
{
    transform: scale(0.905) translate(-54px,650px);
    
}

.starfishmain
{
    transform: scale(0.5) translate(270px, 200px);
    float:left;
    margin: 20px;
    
}



.links {
    list-style: none;
    transform: scale(1) translate(250px, 270px);
    border-right: 1px;
    border-right-color: black;
    padding: 0;
    text-align: center;
    font-size: 25px;
}

.links li {
    display: inline-block;
    margin: 0;
    padding: 0;
    position: relative;
    padding-left: 100px;
}

.links li:nth-child(2) {
    border-right: 1px solid #000;
    border-left: 1px solid #000;
}

.links li::after {
    content: "";
    display: inline-block;
    width: 1px;
    height: 50%;
    background-color: #000;
    margin: 8px 80px;
    vertical-align: middle;
}




.info{
    transform: translate(620px, -385px);
    content: "";
    display: table;
    clear: both;
    width: 550px;
    margin: 5px;
}

.Facts 
{ background-color: #D4E9E7;
    height: 100%;
    align-items: left;
    justify-content: left;
    display: flex;
    margin: 0;
    padding: 10px;
    border: 0px;
    transform: translate(280px, -350px);
    max-width: 900px;
}
.Contactmore
{ background-color: #D4E9E7;
    height: 100%;
    align-items: left;
    justify-content: left;
    display: flex;
    margin: 0;
    padding: 10px;
    border: 0px;
    transform: translate(280px, -350px);
    max-width: 900px;
}

.factlist 
{
    background-color: #D4E9E7;
    margin: 0;
    padding:0;
    border: 0;
    transform: translate(300px,-350px);
    max-width: 900px;
}

.factlist::marker
{
    background-color: #D4E9E7;
    
}

    input[type=button]{
        background-color: #AAD4CF;
        color: #AAD4CF;
        border: none;
        text-decoration: none;
    }
    input[type=text]{width: 900px;}
    input[type=Email]{width: 900px;}
    textarea{
        width: 900px;
        height: 150px;
    }

.formback 
{
    background-color: #D4E9E7;
    height: 100%;
    width: 926px;
    transform: translate(280px, -350px);
}

.customform {
    border: 1px solid black;
    padding: 10px;
}

footer {
    height: 100px;
    position: sticky;
    transform: translate(-120px, 560px) ;
    z-index: 2;
    text-align: right;
}
